@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "GoldHela";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Shaping Our Future.</h2>
</hgroup>

<article>
    <p>
        GoldHela is a Money transfer service, that lets 
        you send money to Kenya faster, cheaper and more 
        conviniently than ever before. We at GoldHela 
        value your comfortability by making Goldhela a 
        service you can depend on in case of any eventuality 
        or emergency. We make sure your money arrives in time
        at no extra charge.
    </p>

    <p>
       Why Us: Goldhela is a fast and efficient money transfer system that
         also offers reversals in not more than 15 seconds of finalising 
        your transaction. With GoldHela you also get the chance to 
        view the recipients details before sending money for extra 
        security and minimising cases of wrong transaction recipients.

    </p>

    <p>
        GoldHela is certified by the FCC, CAK, Central Bank of Kenya and Federal Credit Bereau. 
        Goldhela meets the required standards set by law and is ISO 14001:2008 certified .

    </p>
</article>

<!----<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>-->