@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact Information";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2></h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>+254 72 688 9968</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>+254 71 525 2991</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@goldhela.co.ke">Support@goldhela.co.ke</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:CustomerUx@goldtouch.co.ke">CustomerUx@goldtouch.co.ke</a></span>
    </p>
   </section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        GoldTouch Kenya Limited<br />
        Nakuru, KE 62000-00100
    </p>
</section>