@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "";
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2>Send Money To Kenya cheaper And Faster.</h2>
        </hgroup>
        <p>
            Want to remit or send some money back to the motherland, We are your best patner.please Visit 
            <a href="http://www.goldtouch.co.ke" title="GoldTouch Kenya Limited">.</a>
            The page features <mark>Existing offers, tutorials, and other products</mark> to help you understand more about GoldTouch and GoldHela.
            Any Questions about GoldHela, can be addressed to 
            <a href="http://CustomerCare@goldtouch.co.ke" title="CustomerCare Email">our CustomerCare Hotline</a>.
        </p>
    </div>
</section>
}

<h3>We suggest the following before Using GoldHela:</h3>

<ol class="round">
    <li class="one">
        <h5> How To Create An Account:</h5>
        For easy and comfortable use of GoldHela; We recommend opening an account with Goldhela. All that can be used 
        to authenticate the user. Credit card details are also a prerequisite for transacting with GoldHela. All data 
        captured by our systems is validated first before we can activate your account therefore *ONLY GENUINE data will 
        be processed. Any submission of non-integral data will culminate to revocation of account. For more information 
        please refer to <mark>EULA AND Privacy policy agreements</mark>
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

    <li class="two">
        <h5>Account Activation:</h5>
        After account registration for (new users) an activation URL is sent to the user's email or phone as 
        a text message(sms). You need to activate your account before you can transact for data security purposes.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    <li class="three">
        <h5>How to transact:</h5>
        after logging in you can either do a quick transaction from your card to M-pesa. For standing orders clients 
        this is done automatically at a predefined interval of time decided upon by the client. All transactions 
        are subject to <mark>EULA Standing Orders</mark>
    </li>
</ol>